**Author: Miao Cai**

For this assignment, I use 'F32' and 'F33' as the ICD10 code for depression, as suggested by [this website](http://icd10cmcode.com/what-is-the-icd-10-for-depression.php).

In [ ]:
import os
import numpy as np
import dask.dataframe as dd
import dask.array as da
import dask.delayed
from dask.dot import dot_graph

In [60]:
op = dd.read_csv('healthcare2/OutpatientVisit.csv')

# reshape ICD wide to long
oplong = dd.melt(op, id_vars = 'PatientID',
var_name = 'DiagNum', value_name = 'ICD10',
value_vars = ['ICD10_1', 'ICD10_2', 'ICD10_3'])

PatientID     int64
DiagNum      object
ICD10        object
dtype: object

In [94]:
# recode multiple depression diagnosis to 1
def f(x):
    if x > 1:
        x = 1
    return x

oplong['depression'] = oplong.ICD10.str.contains('F32|F33')
# depression on each patient
q1 = oplong.groupby('PatientID').depression.agg('sum').reset_index()
q1['depression'] = q1.depression.apply(f) # recode

q1.head()

   PatientID  depression
0          1           0
1          2           0
2          3           0
3          4           0
4          5           0

In [ ]:
## The answer for Q1 a)

In [95]:
q1['depression'].sum().compute()/len(q1['depression'])

0.09227402280130294

In [ ]:
## The answer for Q1 n)

In [119]:
def f12(x):
    if x != 0:
        x = 1
    return x

Mortality = pd.read_csv("./healthcare2/Mortality.csv")
p12 = q1.merge(Mortality, how = 'left')
p12['Death'] = p12.DateOfDeath.fillna(0)
p12['Death'] = p12['Death'].apply(f12)
p12.groupby('depression').Death.apply(lambda x: x.sum()/len(x)).reset_index().head()

c:\users\miaocai\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:10: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  # Remove the CWD from sys.path while we load stuff.

   depression     Death
0           0  0.344547
1           1  0.427468